* {
  margin:0px !Important;
  padding:0px !Important;
}

#octocat {
  display: block !Important;
  width:384px !Important;
  margin: 50px auto !Important;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
